@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";


.background-photo {
    height: 100%;
    width: 90vw !important;
    z-index: 0 !important;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

section {
    color: #EFEFEF;
}

#intro {
    display: flex;
    width: 1450vw;
    height: 100vh;
    overflow: hidden;
}

.full-screen {
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: 2 !important;

    .slide {
        height: 100%;
        width: 100%;
    }
}

#start {
    #titleSlide {
        background: url('../assets/TitleScreenIllo.JPG') repeat-x;
        background-position: 50% 85%;
        background-size: cover;
    }
}

.black {
    background-color: #000;
}



.above {
    z-index: 3 !important;
}



#claim1 {
    background-color: red;

    #claimOneText {
        font-size: 30px;
        width: 35%;
        margin-left: 5%;
    }

    #claimHeading {
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 4.09259vh;
        line-height: 5.09259vh;
        letter-spacing: .005em;
        overflow: hidden;
    }

    #claim1Img {
        width: 50%;
        height: 80%;
        background: url('../assets/StructuralRacismIllo1.JPG');
        background-size: cover;
        margin-left: 45%;
        margin-top: -20%;
        background-position: 50% 50%;
        box-shadow: 20px 40px 100px rgba(0, 0, 0, .2), 20px 40px 100px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .2)
    }
}

#intro1 {
    background-color: red;

    .huge-no {
        position: relative;
        top: -40;
        left: 40;
        width: 55.55556vh;
        height: 90.18519vh;

        svg {
            fill: #fff;
        }
    }

    #now {
        position: relative;
        top: 25%;
        line-height: 5.09259vh;
        font-weight: bold;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        padding: 20px;
    }

}

.title {
    top: 3.98148vh;
    left: 10.36111vh;
    font-family: Grifinito;
    color: #fff;
    font-size: 5.09259vh;
    line-height: 5.09259vh;
    letter-spacing: .005em;
    overflow: hidden;
    margin-left: 20px;
}

#claim3 {
    background-color: black;
    margin-top: 2.5%;

    p {
        font-size: 7em;
        color: white;
        position: relative;
        top: 0;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        font-family: 'Merriweather', serif;
        font-weight: 700;
        text-align: center;
    }

    h6 {
        font-size: 1em;
        text-align: center;
        margin-top: calc(0.125vh / 2 * 1);
    }

}

#claimThreeInfo {
    #rev {
        text-align: center;

        .underlineRed {
            margin-bottom: 0 !important;
            border-bottom: 2vw solid red;
            padding-bottom: 2px;
            width: 75%;
        }

        h1 {
            font-size: 10vw;
            margin-top: 0;
            line-height: 20.09259vh;
            letter-spacing: .01em;
            color: white;
            margin-bottom: 0;
        }

        p {
            color: white;
            width: 75%;
            margin-top: 3.5%;
            font-size: 1.45vw;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            text-align: left;
        }
    }


}

#conclusion {
    .underlineRed {
        margin-bottom: 0 !important;
        border-bottom: .5vw solid red;
        width: 30%;


    }

    h1 {
        font-size: 4vw;
        text-align: center;
        color: white;
        margin-bottom: 2.5%;
    }

    p {
        width: 70%;
        font-size: 1.6vw;
        color: white;
        text-align: left;
        line-height: 1.7em;
        margin-left: auto;
        margin-right: auto;
    }
}


.alignMargin {
    margin-left: auto;
    margin-right: auto;
}

.strikeout {
    font-size: 1em;
    line-height: 1em;
    position: relative;
}

.strikeout::after {
    border-bottom: 0.125em solid red;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
}

#context {
    background-color: black;

    p {
        color: white;
    }

    #contextImg {
        width: 50%;
        height: 95%;
        background: url('../assets/conceptart.jpeg');
        background-size: cover;
        margin-left: 2.5%;
        margin-top: 1.75%;
        background-position: 25% 50%;
    }

    #contextBox {
        position: relative;
        left: 0;
        top: 0;
        width: 35%;
        margin-left: 57.5%;
        margin-top: -55%;
    }

    #contextText {
        color: white;
        line-height: 4.09259vh;
        letter-spacing: .005em;
    }
}

#claimOneInfo {
    background-color: black;

    #claimOneParagraphs {
        padding: 20;
        height: 40%;
        column-count: 3;
        font-size: 18px;
        column-gap: 40px;
        column-rule-width: 1px;

        p {
            margin-top: 0;
            color: white;
        }
    }

    #claimOneImg {
        width: 50%;
        height: 55%;
        background: url('../assets/structuralracism.jpg') no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
    }
}

#claim2 {
    background-color: black;

    #claimTwoText {
        font-size: 32px;
        margin-left: 2.5%;
        color: white;
    }

    #claimTwoBox {
        position: relative;
        left: 0;
        top: 0;
        width: 40%;
        margin-left: 55%;
        margin-top: -50%;
    }

    #claimTwoHeading {
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 4.09259vh;
        line-height: 5.09259vh;
        letter-spacing: .005em;
        overflow: hidden;
    }

    #claimTwoImg {
        width: 40%;
        height: 82.5%;
        background: url('../assets/individualizedracism.jpg');
        background-size: cover;
        margin-left: 7.5%;
        margin-top: 5%;
        background-position: 50% 50%;
        box-shadow: 20px 40px 100px rgba(0, 0, 0, .2), 20px 40px 100px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .2);
        border: white 4px solid;
        transform: rotate(-7.5deg);
    }
}

.row {
    display: flex;
    height: 100%;
}

.column1 {
    flex: 40%;
}

.column2 {
    flex: 60%;
}

#claimTwoInfo {
    background-color: white;

    p {
        word-wrap: break-word;
        color: black;
        line-height: 3.59259vh;
        width: 80%;
        font-size: 1.05vw;
        margin-left: auto;
        margin-right: auto;
        padding: 10;
        margin-top: 0;
    }

    #claimTwoInfoImg {
        width: 100%;
        height: 100%;
        background: url('../assets/conceptart.jpeg');
        background-size: cover;
        background-position: 25% 50%;
    }

}

.smallest {
    width: 70vw;
    min-width: 70vw;
}

.smaller {
    width: 85vw;
    min-width: 85vw;
}

.small {
    width: 95vw;
    min-width: 95vw;
}


.red {
    background-color: red;
}

.white {
    background-color: white;
}

#section-ships {
    background: url('../assets/slaveship.jpg');
    background-size: cover;
}

#section-police {
    background: url('../assets/StructuralRacismIllo2.JPG') no-repeat;
    background-size: cover;
    width: 150vh !important;
}


#section-blm {
    background: url('../assets/blacklivesmatterfist.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 150vh !important;
}


#section-individual {
    background: url('../assets/IndividualRacismIllo.JPG') no-repeat;
    background-size: cover;
    width: 150vh !important;
}

::-webkit-scrollbar {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 23.4vw);
    grid-template-rows: repeat(3, 33.333vh);
}



#panel0 {
    background: url('../assets/wall1/stamped_kendi_reynolds.jpg') 50% 60% / cover no-repeat;
    grid-row-start: 1;
    grid-row-end: 2;
}
#panel1 {
    background: url('../assets/wall1/the1619Project_nyt.jpg') 50% 50% / cover no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
}

#panel2 {
    background: url('../assets/wall1/theNewJimCrow_alexander.jpg') 50% 50% / cover no-repeat;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#panel3 {
    background: url('../assets/wall1/whiteFragility_diangelo.jpg') 0% 0% / cover no-repeat;
    grid-row-start: 2;
    grid-row-end: 4;
}
#panel4 {
    background: url('../assets/wall1/whyAreAllTheBlackKidsSittingTogether_tatum.jpg') 0% 37.5% / cover no-repeat;
    grid-row-start: 2;
    grid-row-end: 3;
}
#panel5 {
    background: url('../assets/wall1/racismWithoutRacists_bonilla-silva.jpg') 0% 40% / cover no-repeat;

}
#panel6 {
    background: url('../assets/wall1/13th_duvernay.jpg') 0% 37.5% / cover no-repeat;
  
}
a:hover {
    text-decoration: none;
}

.gallery__item:hover .text {
    opacity: 0.9;

}

.text {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;

    font-size: 1.5vw;
    /* Black w/opacity/see-through */
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.text p {
    margin: 0;
    color: white;
    width:95%;
}