@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";


.slide {
    height: 100%;
    width: 100%;
}

.background-photo {
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EFEFEF;
}

.full-screen {
    display: flex;
    width: 475vw;
    max-width: 500%;
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    /* makes panels the entire window height */
}

.full-screen2 {
    display: flex;
    width: 1000vw;
    /* makes panels the entire window height */
}

.blue {
    background-color: #3883d8;
}

.red {
    background-color: #cf3535;
}

.orange {
    background-color: #ea6300;
}


#titleSlide {
    background: url('../assets/Title Screen Illo.JPG') repeat-x;
    background-position: 50% 85%;
    background-size: cover;
}

#introSlide {
    background-color: red;
    display: flex;
    width: 300vw;
    max-width: 400%;
    max-height: 100%;
    overflow: hidden;
    height: 100%;
}

#context {
    height:100%;
    width:50%;
    margin-left:25%;
    background-color:blue
}

#section-ships {
    height: 100%;
    width:500%;
    /* The image width times 3 */
    background: url('../assets/slave ship.jpg') no-repeat;
    background-position: 50% 50%;

    background-size: cover;
}


::-webkit-scrollbar {
    display: none;
}