@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";


.background-photo {
    height: 100%;
    width: 90vw !important;
    z-index: 1 !important;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

section {
    display: flex;
    color: #EFEFEF;
}

#intro {
    display: flex;
    width: 1500vw;
    height: 100vh;
    overflow: hidden;
}

.full-screen {
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: 2;

    .slide {
        height: 100%;
        width: 100%;
    }
}

#start {
    #titleSlide {
        background: url('../assets/Title Screen Illo.JPG') repeat-x;
        background-position: 50% 85%;
        background-size: cover;
    }
}

.blue {
    background-color: #000;
}


.orange {
    background-color: #ea6300;
}


.above {
    z-index: 3 !important;

}



#claim1 {
    background-color: red;
}

#intro1 {
    background-color: red;

    .huge-no {
        position: absolute;
        top: 4.90741vh;
        left: 10.81481vh;
        width: 55.55556vh;
        height: 90.18519vh;

        svg {
            fill: #fff;
        }
    }

    .title {
        top: 3.98148vh;
        left: 10.36111vh;
        font-family: Grifinito;
        color: #fff;
        font-size: 5.09259vh;
        line-height: 5.09259vh;
        letter-spacing: .005em;
        overflow: hidden;
        margin-left: 20px;
    }

    .contain {
        width: 40%;
        margin-left: 53%;
        line-height: 5.09259vh;
        font-weight: bold;
        margin-top: 5%;

        #now {
            font-size: 20px;
            padding: 20px;
        }
    }
}

#context {
    background-color: black;

    #contextImg {
        width: 50%;
        height: 95%;
        background: url('../assets/concept art.jpeg');
        background-size: cover;
        margin-left: 2.5%;
        margin-top: 1.75%;
        background-position: 25% 50%;
    }

    #contextBox {
        position: relative;
        left: 0;
        top: 0;
        width: 35%;
        margin-left: 57.5%;
        margin-top: -55%;
    }

    #contextText {
        color: white;
        line-height: 4.09259vh;
        letter-spacing: .005em;
    }
}

.smaller {
    width: 85vw;
    min-width: 85vw;
}

.small {
    width: 95vw;
    min-width: 95vw;
}




.red {
    background-color: red;
}

#section-ships {
    /* The image width times 3 */
    background: url('../assets/slave ship.jpg');
    background-size: cover;
}


::-webkit-scrollbar {
    display: none;
}