@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";


.background-photo {
    height: 100%;
    width: 800vh !important;
    z-index: 0 !important;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

section {
    color: #EFEFEF;
}

#intro {
    display: flex;
    width: 2740vh;
    height: 100vh;
    overflow: hidden;
}

.full-screen {
    display: flex;
    width: 200vh;
    height: 100%;
    overflow: hidden;
    z-index: 2 !important;

    .slide {
        height: 100%;
        width: 100%;
    }
}

.wall2 {
    width: 300vh !important;
}

#start {
    #titleSlide {
        background: url('../assets/TitleScreenIllo.JPG') repeat-x;
        background-position: 50% 85%;
        background-size: cover;
    }
}

.black {
    background-color: #000;
}



.above {
    z-index: 3 !important;
}



#claim1 {
    background-color: #C60000;

    #claimOneText {
        font-size: 30px;
        width: 90%;
        margin-left: 5%;
    }

    .column1 {
        position: relative;
        top: 35%;
        flex: 45%;
    }

    .column2 {
        flex: 55%;
    }

    #claimHeading {
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 4.09259vh;
        line-height: 5.09259vh;
        letter-spacing: .005em;
        overflow: hidden;

    }

    #claim1Img {
        position: relative;
        top: 10%;
        width: 90%;
        height: 80%;
        background: url('../assets/StructuralRacismIllo1.JPG');
        background-size: cover;
        background-position: 50% 50%;
        box-shadow: 20px 40px 100px rgba(0, 0, 0, .2), 20px 40px 100px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .2)
    }
}

#intro1 {
    background-color: #C60000;

    .underlineBlack {
        margin-bottom: 0 !important;
        border-bottom: 1.5vh solid black;
        width: 50vh;
    }

    h1 {
        font-size: 10vh;
        text-align: center;
        color: white;
        margin-bottom: 2.5%;
        margin-top: 0;
    }

    p {
        width: calc(100% - 15vw);
        font-size: 4.25vh;
        color: white;
        text-align: left;
        line-height: 1.7em;
        margin-left: auto;
        margin-right: auto;
    }
}





.title {
    top: 3.98148vh;
    left: 10.36111vh;
    font-family: Grifinito;
    color: #fff;
    font-size: 5.09259vh;
    line-height: 5.09259vh;
    letter-spacing: .005em;
    overflow: hidden;
    margin-left: 20px;
}

#claim3 {
    background-color: black;
    margin-top: 2.5%;
    
    #claimHeading {
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 4.09259vh;
        line-height: 5.09259vh;
        letter-spacing: .005em;
        margin-left:5%;
        overflow: hidden;


    }

    p {
        font-size: 17vh;
        color: white;
        position: relative;
        top: 0;
        margin-top: -1%;
        margin-bottom: 2.5%;
        font-family: 'Merriweather', serif;
        font-weight: 700;
        text-align: center;
    }

    h6 {
        font-size: 1em;
        text-align: center;
        margin-top: calc(0.125vh / 2 * 1);
    }

}

#claimThreeInfo {
    #rev {
        text-align: center;

        .underlineRed {
            margin-bottom: 0 !important;
            border-bottom: 2.5vh solid red;
            padding-bottom: 2px;
            width: 75%;
        }

        h1 {
            font-size: 14vh;
            margin-top: 0;
            line-height: 20.09259vh;
            letter-spacing: .015vh;
            color: white;
            margin-bottom: 0;
        }

        p {
            color: white;
            width: 75%;
            margin-top: 3.5%;
            font-size: 2.7vh;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            text-align: left;
        }
    }


}

#conclusion {
    .underlineRed {
        margin-bottom: 0 !important;
        border-bottom: 1.5vh solid red;
        width: 50vh;

    }

    h1 {
        font-size: 9vh;
        text-align: center;
        color: white;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
    }

    p {
        width: 70%;
        font-size: 2.9vh;
        color: white;
        text-align: left;
        line-height: 1.7em;
        margin-left: auto;
        margin-right: auto;
    }
}


.alignMargin {
    margin-left: auto;
    margin-right: auto;
}

.strikeout {
    font-size: 1em;
    line-height: 1em;
    position: relative;
}

.strikeout::after {
    border-bottom: 0.125em solid red;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
}

#context {
    background-color: black;

    p {
        color: white;
        font-size: 2.3vh;
    }

    #contextImg {
        width: 50%;
        height: 95%;
        background: url('../assets/conceptart.jpeg');
        background-size: cover;
        margin-left: 2.5%;
        margin-top: 1.75%;
        background-position: 25% 50%;
    }

    #contextBox {
        position: relative;
        left: 0;
        top: 0;
        width: 35%;
        margin-left: 57.5%;
        margin-top: -47.5%;
    }

    #contextText {
        color: white;
        line-height: 4.09259vh;
        letter-spacing: .005em;
    }
}

#claimOneInfo {
    background-color: black;

    #claimOneParagraphs {
        padding: 20;
        height: 40%;
        column-count: 3;
        font-size: 2.5vh;
        column-gap: 40px;
        column-rule-width: 1px;

        p {
            margin-top: 0;
            color: white;
        }
    }

    #claimOneImg {
        width: 50%;
        height: 55%;
        background: url('../assets/structuralracism.jpg') no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
    }
}

#claim2 {
    background-color: black;

    #claimTwoText {
        font-size: 32px;
        margin-left: 2.5%;
        color: white;
    }

    #claimTwoBox {
        position: relative;
        left: 0;
        top: 0;
        width: 40%;
        margin-left: 55%;
        margin-top: -42.5%;
    }

    #claimTwoHeading {
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 4.09259vh;
        line-height: 5.09259vh;
        letter-spacing: .005em;
        overflow: hidden;
    }

    #claimTwoImg {
        width: 40%;
        height: 82.5%;
        background: url('../assets/individualizedracism.jpg');
        background-size: cover;
        margin-left: 7.5%;
        margin-top: 3.5%;
        background-position: 50% 50%;
        box-shadow: 20px 40px 100px rgba(0, 0, 0, .2), 20px 40px 100px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .2);
        border: white 4px solid;
        transform: rotate(-7.5deg);
    }
}

.row {
    display: flex;
    height: 100%;
}

.column1 {
    flex: 40%;
}

.column2 {
    flex: 60%;
}

#claimTwoInfo {
    background-color: white;

    p {
        word-wrap: break-word;
        color: black;
        line-height: 3.59259vh;
        width: 80%;
        font-size: 2.125vh;
        margin-left: auto;
        margin-right: auto;
        padding: 10;
        margin-top: 0;
    }

    #claimTwoInfoImg {
        width: 100%;
        height: 100%;
        background: url('../assets/conceptart.jpeg');
        background-size: cover;
        background-position: 25% 50%;
    }

}

.smallest {
    width: 120vh;
}

.smaller {
    width: 170vh;
}

.small {
    width: 200vh;
    min-width: 95vh;
}


.red {
    background-color: red;
}

.white {
    background-color: white;
}


#section-ships {
    background: url('../assets/slaveship.jpg');
    background-size: cover;
}

#section-police {
    background: url('../assets/StructuralRacismIllo2.JPG') no-repeat;
    background-size: cover;
}


#section-blm {
    background: url('../assets/blacklivesmatterfist.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


#section-individual {
    background: url('../assets/IndividualRacismIllo.JPG') no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

#claimOneWall {
    .gallery_claim1 {
        display: grid;
        grid-template-columns: repeat(3, 40vh);
        grid-template-rows: repeat(3, 33.333vh);
    }

    #panel0 {
        background: url('../assets/wall1/stamped_kendi_reynolds.jpg') 50% 60% / cover no-repeat;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #panel1 {
        background: url('../assets/wall1/the1619Project_nyt.jpg') 50% 50% / cover no-repeat;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #panel2 {
        background: url('../assets/wall1/theNewJimCrow_alexander.jpg') 50% 50% / cover no-repeat;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #panel3 {
        background: url('../assets/wall1/whiteFragility_diangelo.jpg') 50% 50% / cover no-repeat;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    #panel4 {
        background: url('../assets/wall1/whyAreAllTheBlackKidsSittingTogether_tatum.jpg') 0% 37.5% / cover no-repeat;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #panel5 {
        background: url('../assets/wall1/racismWithoutRacists_bonilla-silva.jpg') 0% 40% / cover no-repeat;

    }

    #panel6 {
        background: url('../assets/wall1/13th_duvernay.jpg') 100% 50% / cover no-repeat;
    }
}

#claimTwoWall {
    .gallery_claim2 {
        display: grid;
        grid-template-columns: repeat(8, 37.5vh);
        grid-template-rows: repeat(3, 33.333vh);
    }

    #panel7 {
        background: url('../assets/wall2/heavy_laymon.jpg') 50% 0% / cover no-repeat;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #panel8 {
        background: url('../assets/wall2/pushout.jpeg') 0% 0% / cover no-repeat;
    }

    #panel9 {
        background: url('../assets/wall2/justMercy_stevenson.jpg') 0% 0% / cover no-repeat;
    }

    #panel10 {
        background: url('../assets/wall2/theFireThisTime_ward.jpg') 0% 20% / cover no-repeat;
    }

    #panel11 {
        background: url('../assets/wall2/theFireNextTime_baldwin.jpg') 0% 0% / cover no-repeat;
    }

    #panel12 {
        background: url('../assets/wall2/betweenTheWorldAndMe_coates.jpeg') 0% 0% / cover no-repeat;
    }

    #panel13 {
        background: url('../assets/wall2/imStillHere_brown.jpeg') 0% 0% / cover no-repeat;
    }

    #panel14 {
        background: url('../assets/wall2/noAshesInTheFire_moore.jpg') 50% 15% / cover no-repeat;
    }

    #panel15 {
        background: url('../assets/wall2/citizen_rankine.jpg') 0% 0% / cover no-repeat;
    }

    #panel16 {
        background: url('../assets/wall2/whenTheyCallYouATerrorist_khan-cullers_bandele.jpg') 0% 0% / cover no-repeat;
    }

    #panel17 {
        background: url('../assets/wall2/intersectionaliyMatters_crenshaw.jpg') 0% 0% / cover no-repeat;
    }

    #panel18 {
        background: url('../assets/wall2/biased_eberhardt.jpg') 0% 0% / cover no-repeat;
    }

    #panel19 {
        background: url('../assets/wall2/timeTheKaliefBrowderStory.jpg') 0% 0% / cover no-repeat;
    }

    #panel20 {
        background: url('../assets/wall2/americanSon.jpeg') 0% 0% / cover no-repeat;
    }

    #panel21 {
        background: url('../assets/wall2/justMercy.jpg') 0% 0% / cover no-repeat;
    }

    #panel22 {
        background: url('../assets/wall2/fruitvaleStation.jpg') 0% 0% / cover no-repeat;
    }

    #panel23 {
        background: url('../assets/wall2/dearWhitePeople.jpg') 0% 0% / cover no-repeat;
    }

    #panel24 {
        background: url('../assets/wall2/whenTheySeeUs.jpg') 0% 0% / cover no-repeat;
    }

    #panel25 {
        background: url('../assets/wall2/iAmNotYourNegro.jpg') 0% 0% / cover no-repeat;
    }

    #panel26 {
        background: url('../assets/wall2/selma.jpg') 0% 0% / cover no-repeat;
    }

    #panel27 {
        background: url('../assets/wall2/sayHerName.jpg') 0% 0% / cover no-repeat;
    }

    #panel28 {
        background: url('../assets/wall2/ifBealeStreetCouldTalk.jpeg') 0% 0% / cover no-repeat;
    }

    #panel29 {
        background: url('../assets/wall2/theBirthOfANation.png') 0% 0% / cover no-repeat;
    }
}


#claimThreeWall {
    .gallery_claim3 {
        display: grid;
        grid-template-columns: repeat(3, 40vh);
        grid-template-rows: repeat(3, 33.33vh);
    }

    #panel30 {
        background: url('../assets/wall3/blackFeministThough_collins.jpg') 0% 0% / cover no-repeat;
    }

    #panel31 {
        background: url('../assets/wall3/sisterOutsider_lorde.jpg') 0% 5% / cover no-repeat;
    }

    #panel32 {
        background: url('../assets/wall3/soYouWantToTalkAboutRace_oluo.jpg') 0% 50% / cover no-repeat;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #panel33 {
        background: url('../assets/wall3/hoodFeminism_kendall.jpg') 0% 0% / cover no-repeat;
    }

    #panel34 {
        background: url('../assets/wall3/eloquentRage_cooper.jpg') 0% 15% / cover no-repeat;
    }

    #panel35 {
        background: url('../assets/wall3/thisBridgeCalledMyBack_moraga_anzaldua.jpg') 0% 0% / cover no-repeat;
    }

    #panel36 {
        background: url('../assets/wall3/theBlackPanthers.jpg') 0% 37.5% / cover no-repeat;
    }

    #panel37 {
        background: url('../assets/wall3/hoodratToHeadwrap.jpg') 0% 0% / cover no-repeat;
    }

}

a:hover {
    text-decoration: none;
}

.gallery__item:hover .text {
    opacity: 0.9;

}

.text {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;

    font-size: 1.5vw;
    /* Black w/opacity/see-through */
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.text p {
    margin: 0;
    color: white;
    width: 95%;
}